@import "fonts.css";
header{
    position: relative;
    top: 0px;
    left: 0px;
    height: 120px;
z-index: 1;
}
.nav-bar{
    position: fixed;
    width: 100%;
    padding: 30px 0px;
    z-index: 100000;
    background: #fff;
}
.nav-bar .contant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.nav-bar .contant  ul li {
    margin-right: 30px;
    text-align: center;
}
.nav-bar .contant  ul li a{
    color:#fff;
    font-size: 17px;
    text-decoration: none;
    font-family:'fr-bold-65';
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 3px;
}
.nav-bar .contant  ul li a:hover{
    color: #888;
}
.nav-bar .contant  ul li a:before {
    content: "";
    position: absolute;
    z-index: 1;
    left:100%;
    right: 0;
    bottom: 0px;
    background: #2098D1;
    height: 4px;
    transition: all .4s ease-in-out;
}
.nav-bar .contant  ul li a:hover:before {
    left: 0px;
}
.nav-bar nav{
    overflow: hidden;
}


    /* toggle */
    
    .nav-bar .contant  input{
        width: 400px;
        height: 30px;
        position: absolute;
        transform: translateX(-570px);  
        transform-origin: right;
        left: 30px;
        top: 15px;
        overflow: hidden;
        outline: none;
        background: transparent;
        border: none;
        color: #fff;
        transition: all .4s ease-in-out;
    }
    .nav-bar .contant  input.show-search{
        transform: translate(0px);
        border-bottom: 1px solid #ccc;
    }
    .nav-bar .close-span{
        font-size: 60px;
        color: #ffff;
        position: absolute;
        top: 15px;
        font-weight: 300;
        cursor: pointer;
        width: 30px;
        height: 30px;
        left: 30px;
        display: none;
        background-color: transparent;
        border: none;
    }
    .nav-bar .close-span:focus{
        border: none;
        outline: none;
    }
    .nav-bar .close-span svg{
        position: absolute;
        top:0px;
        left: 0px;
    }
    .nav-bar .close-span#close-btn.close-show {
        display: block;
    }
    .nav-bar .contant ul li:last-of-type{
        display: block;
    }
    /* search */
    .close-btn{
        display: block;
    }
    .close-span{
        display: none;
    }
/*nav-bar*/
.nav-bar .slide-bar{
    position: fixed;;
    width: 300px;
    height: 100%;
    background-color: #333;
    right:-100%;
    top: 0px;
    transition: all .5s ease-in-out;
    z-index: 9999;
}
.slide-bar.open-nav-bar{
    right:0px;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);
}
.slide-bar nav{
    position: absolute;
    top: 0px;
    width: 300px;
    height: 100%;
    background-color: #fff;
}
.nav-bar .contant  ul{
   margin-top: 100px;
   text-align: center;
   font-size: 30px;
   display: block;
}
.nav-bar .contant  ul li a{
    color: #000;
}
/* toggle */
.toggle{
    display: block;
    position: absolute;
    margin-right: auto;
    cursor: pointer;
    height: 30px;
    top: 50%;
    transform: translateY( -50%);
    left: 0px;
    transition: all .5s ease-in-out;
}
.nav-bar .toggle .h1 {
    font-size: 17px;
    margin-left: 50px;
    margin-bottom: 0px;
    font-family: 'fr-bold-65';
}
.toggle span{
    position: absolute;
    width: 15px;
    margin: auto;
    height: 3px;
    background-color: #000;
    display: block;
    top: 50%;
    left: 0%;
    transform: translate(0% ,-50%);
}
.nav-bar  .toggle span:after,
.nav-bar  .toggle span:before{
    position: absolute;
    content: "";
    width: 30px;
    margin: auto;
    height:100%;
    background-color: #000;
    left: 0px;
    transition: all .5s ease-in-out;
}
.nav-bar  .toggle span:after{
    top: -10px;
}
.nav-bar  .toggle span:before{
    top: 10px;
}
.nav-bar  .toggle.active span{
    background-color: rgba(85, 46, 46, 0.1);
}
.nav-bar .toggle.active span:before{
    transform: rotate(-45deg);
    background-color: #000;
    top: 0px;
    transition: all .5s ease-in-out;
}
.nav-bar  .toggle.active span:after{
    transform: rotate(45deg);
    background-color: #000;
    top: 0px;
    transition: all .5s ease-in-out;
}
/* toggle */
/* search */
.nav-bar .search{
    position: fixed;
    right: -100%;
    transition: all .5s ease-in-out ;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row-reverse;
    width: 250px;
    height: 80px;
    top: 0px;
}
.nav-bar .search .close-nav{
    font-size: 30px;
}
.nav-bar .search.open-searh{
    right: 2%;
}
.nav-bar .contant ul li:last-of-type{
    display: none;
}
/* search */
.nav-bar .contant  input{
    width: 400px;
    height: 30px;
    position: absolute;
    transform-origin: right;
    left: 30px;
    top: 15px;
    overflow: hidden;
    outline: none;
    background: transparent;
    border: none;
    color: #fff;
    display: none;
}
.nav-bar .close-btn{
    font-size: 60px;
    color: #ffff;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-30%,-50%);
    font-weight: 300;
    cursor: pointer;
}
input::placeholder{
    font-size: 20px;
    color: #fff;
}
.nav-bar .contant  input.show-search{
    border-bottom: 1px solid #fff;
}
.nav-bar .contant  input:focus {
    outline: none;
    background: transparent;
}
.nav-bar button.close-show{
    display: block;
}
.nav-bar .contant  #open-search.hide{
    display: none;
}
.nav-bar form {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0%;
    right:-100%;
    background-color:rgba(0, 0, 0, 0.5);
}
.nav-bar form.show-close{
    right: 0px;
} 
.nav-bar form.show-close input{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)!important;
    display: block;
    border-bottom: 1px solid #fff;
}
button#close{
    visibility: hidden;
}
@media(max-width:576px){
    .nav-bar .contant input {
      width: 230px;
    }
    .slide-bar nav{
        width: 250px;
    }
    .nav-bar .search{
        width: 250px;
        padding: 0px 10px;
        flex-direction: row-reverse;
    }
    .nav-bar .search.open-searh{
        right: 0px;
    }
    .nav-bar .toggle .h1{
        display: none;
    }
}
/*nav-bar*/

 /* breadcrumb */
 .bread-crumb{
     padding: 50px 0px;
     background-image: url(../img/1-about.png );
     background-color: #000;
     position: relative;
    height: 100px;
    line-height: 100px;
 }
 .bread-crumb .overlay{
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0px;
     left: 0px;
     background-color: rgba(0,0,0,.7);
}
.breadcrumb{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}
.breadcrumb-item.active{
    color: #fff;
    font-size: 16px;
    font-family: 'fr-Light-45';
}
.breadcrumb-item a{
    color:#6c757d;
    font-size: 16px;
    text-decoration: none;
}
/* breadcrumb */
/*layout*/
.layout{
    padding: 70px 0px;
}
.layout img{
    width: 100%;
    height: 100%;
}
.layout .contant {
    padding :50px 10px 0px   
}
.layout h5{
    font-size: 20px;
    font-family:'fr-Light-45';
    position: relative;
   padding-right: 20px;
   color: #3f3f3f;
   margin-bottom: 20px;
}
.layout h5:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #c0c0c0;
}
.layout h2{
    font-size: 24px;
    font-family:'fr-Black-75';
    margin-bottom: 30px;
}
.layout p{
    margin-bottom: 40px;
    color: #3f3f3f;
    line-height: 1.7;
    font-size: 17px;
    font-family:'fr-Light-45';
}
.layout .col-lg-8 img{
    display: none;
}
@media(max-width: 991px){
    .layout{
    padding: 30px 0px;
}
    .layout img{
        display: block;
        margin: auto;
        width: auto;
        height: auto;
    }
    .layout .col-lg-4{
        display: none;
    }
    .layout .col-lg-8 img{
        display: block;
        margin-bottom: 20px;
        max-width: 100%
    }
    .layout .col-lg-8{
        text-align: center;
    }
    .layout h5{
        display: inline-block;
    }
}
@media(max-width:576px){
   .layout p{
    font-size: 14px
}
.layout h2{
    font-size: 20px;
    margin-bottom: 15px;
}
}
/*layout*/

/*content*/
.content{
    background-image: url(../img/3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ddd;
    padding:50px 0px 100px; 
}
.content .co{
    padding-top:10px;
    text-align: center; 
    width:300px;
    margin: auto;
    padding-top:40px;
    margin-bottom:40px;
}
.content .co p{
    position: relative;
    font-size: 20px;
    font-family: 'fr-Light-45';  
}
.content .co h2{
    font-size: 24px;
    font-family: 'fr-Black-75';
}
.content .co  p:before,
.content .co  p:after{
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #c0c0c0;
    top: 15px;
}
.content .co p:before{
    left:-10px;   
}
.content .co p:after{
    right:-10px;
}
.content .card{
    position: relative;
    transition: .5s;
    overflow: hidden;
    padding: 40px;
}
.content  .card-title {
    font-family: 'fr-Bold-65';
    font-size: 20px;
}
.content  .imghover {
    position: absolute;
    width: 100%;
    height: 100%;
    top:-100%;
    left: 0px;
    transition: .5s;
    background: #709dca;
}
 .content .card:hover .imghover{
    top: 0px;
} 
.content .card:hover .card-body {
    color: #fff!important;
}
.content .card:hover{
    transform: scale(1.05);
}
.content .img {
    margin-bottom: 15px;
}
.content .card-body p{
    line-height: 1.7;
    font-size: 16px;
    font-family: 'fr-Light-45';
}
.content .card-body,.content .img {
    position: relative;
    z-index: 9999;
    font-family: 'fr-Light-45';
    font-size: 16px;
    padding: 0px;
}
.content .card:hover img{
    filter: brightness(0%) invert(1);
}
@media(max-width:767px){
    .content .col-md-6{
        margin-top: 20px;
    }
}
@media(max-width:576px){
    .content .card-body p {       
        font-size: 14px;
    }
    .content .co{
        padding-top: 0px;
    }
    .content .co p:before{
        left: -5px;
    }
    .content .co p:after{
        right: -5px;
    }
}
/* content */

/* mangment*/
.mangment{
    padding: 80px 0px 130px;
}
.mangment h2{
    font-size: 24px;
    font-family: 'fr-Black-75';
}
.mangment .col-md-6.col-lg-4{
    margin-bottom: 30px;
}
.mangment .card {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: .5s ease-in-out;
    padding: 40px 0px;
}
.mangment .img{
    height: 150px;
    width: 150px;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.mangment  .card:hover{
    transform:scaleY(1.06);
}
.mangment .card-body{
    padding: 0px;
}
.mangment .row{
    margin-top:40px;
}
.mangment .card-title{
    font-size: 18px;
    font-family: 'fr-Bold-65';
}
.mangment p.card-text{
    font-family: 'fr-Light-45';
    font-size: 15px;
}
@media(max-width: 991px){
    .mangment{
        padding: 50px 0px
    }
}
@media(max-width:767px){
    .mangment .card{
        width: 70%;
        margin:auto
    }
}
@media(max-width:576px){
    .mangment .card-title {       
        font-size: 14px;
    }
    .mangment p.card-text{
        font-size: 12px;
    }
}
/* mangment */
/* footer */
footer{
    background-color: #000;
    color: #fff;
}
footer .row{
    padding: 60px 0px 40px;
}
footer .fa{
    padding: 0px 10px;
}
footer hr{
    background-color: #333;
    margin:0px
}
footer h5{
    font-family: 'fr-Black-75';
    font-size: 17px;
    font-weight: bold;
}
footer .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}
footer ul{
    display: flex;
}
footer ul li{
    margin-left: 10px;
}
footer ul a{
    color: #333;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
     font-family: 'fr-Light-45';
     font-size: 15px;   
}
footer ul a.active,
footer  ul a:hover{
    color: #ffff;
}

footer .foot{
    display: flex;
    align-items: center;
}
footer p{
    font-family: 'fr-Light-45';
    font-size: 15px;
    margin:0px
}
footer .foot p{
    color: #555;
    font-family: 'fr-Roman-55';
}
footer .foot a{
    text-decoration: none;
}
footer .foot span{
    color: #fff;
}
footer .foot img{
  padding: 0px 5px;
}

@media(max-width:767px){
    footer .row{
        text-align: center;
    }
footer .links{
    flex-direction: column;
}
footer .col-md-4{
    text-align: center;
    margin-top: 25px;
}
footer .list-unstyled{
    margin-top: 10px;
}
footer .row{
    padding: 30px 0px;
}
}
@media(max-width:576px){
    footer .foot{
        flex-direction: column;
    }
    footer .foot p{
        font-size: 12px;
    }
}
/* footer */
/* loader */
.loader{
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background-color: #042331;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader  .load{
    width: 100px;
    height: 100px;
    margin: 100px auto;
  }
  .loader  .load .preload {
    width: 33%;
    height: 33%;
    background-color: #fff;
    float: left;
    animation: preload 1.3s infinite ease-in-out; 
  }
  .loader  .load .preload1 {
        animation-delay: 0.2s; 
}
.loader  .load .preload2 {
            animation-delay: 0.3s; }
 .loader  .load .preload3 {
        animation-delay: 0.4s; 
}
 .loader  .load  .preload4 {
     animation-delay: 0.1s;
 }
 .loader  .load  .preload5 {
    animation-delay: 0.2s; 
}
.loader  .load  .preload6 {
     animation-delay: 0.3s; 
}
.loader  .load  .preload7 {
     animation-delay: 0s; 
}
.loader  .load .preload8 {
    animation-delay: 0.1s;
 }
.loader  .load .preload9 {
     animation-delay: 0.2s;
}
  
  @keyframes preload{
    0%, 70%, 100%  {
           transform: scale3D(1, 1, 1);
    }
     35% {
            transform: scale3D(0, 0, 1);
    } 
  }
/* loader */